// cover image text

.hero {
	article {
      	h1 {
	        color:#F7F7F7;
	        text-align:right;
	        font-family:$serif;
	        font-weight:700;
	        @media #{$small-only} {
	          font-size:rem-calc(27);
	        }
	        span {
	        	position:relative;
	        	padding-bottom : rem-calc(5);
	        	&:after {
	        		position:absolute; 
	        		left:0; 
	        		bottom:0; 
	        		width:100%; 
	        		height:rem-calc(3); 
	        		border-bottom:rem-calc(3) solid #f7f7f7; 
	        		content:"";
	        	}
	        }
	    }
        h6 {
			color:#F7F7F7;
	        text-align:right;
	        font-family:$sans-italic;
	        font-weight:300;
	        padding-top:rem-calc(5);
	        @media #{$small-only} {
	          font-size:rem-calc(18);
	        }
	        br {
	        	display:none;
	        	@media #{$small-only} {
	          		display:block;
	        	}
	        }
        }
	}
}

// body general styles

section {
	h2 {
		font-family:$bold;
		font-size:rem-calc(24);
		color:$black;
		margin-bottom:$row-margin/4;
	}
	h3 {
		font-family:$bold;
		font-size:rem-calc(24);
		color:$primary;
	}
		h4 {
			font-family:$serif;
			font-size:rem-calc(16);
			line-height:rem-calc(24);
			color:$black;
			margin-top:rem-calc(-1);
		}
	p {
		font-family:$serif;
		color:$black;
		font-size:rem-calc(16);
		line-height:rem-calc(24);
		text-align:justify;
	    -webkit-hyphens: auto;
	    -moz-hyphens: auto;
	    -ms-hyphens: auto;
	    hyphens: auto;
	    a {
	    	color:$link;
	    	transition:$transition;
	    	&:hover {
	    		color:$hover;
	    	}
	    }
	}
	ol {
	    counter-reset:li; 
	    margin-left:0; 
	    padding-left:0;
		> li {
	    	position:relative;
	    	margin:0 0 rem-calc(10) rem-calc(45);
	    	padding:rem-calc(4) 0 0 0;
	    	list-style:none; 
			font-family:$serif;
			color:$black;
			font-size:rem-calc(16);
			line-height:rem-calc(24);
			&:before {
	    		content:counter(li); 
	    		counter-increment:li;
	    		position:absolute;
	    		top:rem-calc(-2);
	    		left: rem-calc(-30);
			    -moz-box-sizing:border-box;
			    -webkit-box-sizing:border-box;
			    box-sizing:border-box;
			    padding:rem-calc(4) 0 0 0;
			    font-family:$bold;
				color:$black;
				font-size:rem-calc(16);
				line-height:rem-calc(24);
			    text-align:center;
			}
		}
	}
	dl {
		dt {
			font-family:$sans-bold;
			font-size:rem-calc(16);
			color:$black;
			margin:$row-margin/4 0 rem-calc(5) 0;
			color:$black;
			&:first-of-type {
				margin-top:0;
			}
			a {
				font-family:$sans-bold;
				color:$black;
				transition:$transition;
				&:hover {
					color:$hover;
				}
			}
		}
		dd {
			font-family:$serif;
			color:$secondary;
			font-size:rem-calc(16);
			line-height:rem-calc(24);
			text-align:justify;
		    -webkit-hyphens: auto;
		    -moz-hyphens: auto;
		    -ms-hyphens: auto;
		    hyphens: auto;
		}
	}
	sup {
	    a {
	    	color:$link;
	    	transition:$transition;
	    	&:hover {
	    		color:$hover;
	    	}
	    }
	}
	cite {
		text-align:right;
		font-family:$italic;
	    a {
	    	color:$secondary !important;
	    	transition:$transition;
	    	&:hover {
	    		color:$hover !important;
	    	}
	    }
	}
	blockquote {
		p {
			color:$secondary;
			&:before {
				content:'“'
			}
			&:after {
				content:'”'
			}
		}
		.note {
			font-size:rem-calc(12);
			line-height:rem-calc(16);
			&:before {
				content:''
			}
			&:after {
				content:''
			}
		}
	}
	table {
		tr {
			font-family:$font-family-monospace;
		}
		thead {
			tr {
				font-family:$sans;
			}
		}
	}
}


// fact check section

.factcheck {
	background-color: saturate($white, 10%);
	padding:rem-calc(15) rem-calc(15) rem-calc(2) rem-calc(15);
	border:1px solid darken($white, 5%);
	transition:$transition;
	margin-bottom:$row-margin/8;
	article {
		cite {
			display:block;
			text-align:right;
			font-size:rem-calc(13);
			font-family:$serif;
			&:before {
				content:'— ';
				color:$black;
			}
		    a {
		    	color:$secondary !important;
		    	transition:$transition;
		    	&:hover {
		    		color:$hover !important;
		    	}
		    }
		}
		&:before {
			content:'What the Wild Horse Preservation Site says:';
			display:block;
			font-family:$sans-bold;
			color:$black;
			font-size:rem-calc(16);
			line-height:rem-calc(24);
			margin-bottom:rem-calc(0)
		}
	}
	aside {
		&:before {
			content:'What the Bently Team found:';
			display:block;
			padding-bottom:rem-calc(1);
			font-family:$sans-bold;
			color:$black;
			font-size:rem-calc(16);
			line-height:rem-calc(24);
			margin-bottom:rem-calc(5)
		}
		.conclusion {
			&:before {
				content:'Conclusion:';
				display:block;
				font-family:$sans-bold;
				color:$black;
				font-size:rem-calc(16);
				line-height:rem-calc(24);
				margin-bottom:rem-calc(5)
			}
		}
		pre {
			margin: 0 0 rem-calc(15) rem-calc(10);
		}
	}

}

// citation section



.cited {
	font-family:$sans-bold;
	text-align:left;
	hyphens: none;
	word-break:normal;
}

.notcited {
	font-family:$sans-bold;
	text-align:left;
	hyphens: none;
	word-break:normal;
}

.citation {
	h3 {
		padding-bottom:$row-margin/8;
		border-bottom:2px solid darken($white, 5%);
	}
	p {
		color:$secondary;
	}
}

.hascite {
	background-color:$highlight;
	border:1px solid darken($highlight, 5%);
	p {
		color:$black;
		padding-top:rem-calc(7);
	}
}


// news 

.news {
	article {
		background-color: saturate($white, 10%);
		padding:rem-calc(15) rem-calc(15) rem-calc(2) rem-calc(15);
		border:1px solid darken($white, 5%);
		transition:$transition;
		margin-bottom:$row-margin/8;
		a {
			font:$sans;
			font-weight:300;
			font-size:rem-calc(24);
			line-height:rem-calc(36);
			color:$link;
			text-decoration:underline;
			transition:$transition;
			&:hover {
				color:$highlight;
			}
		}
		p {
			font-family:$serif;
			color:$black;
			font-size:rem-calc(16);
			line-height:rem-calc(24);
			text-align:justify;
		    -webkit-hyphens: auto;
		    -moz-hyphens: auto;
		    -ms-hyphens: auto;
		    hyphens: auto;
		}
	}
}


// footer 
footer {
	background-color: saturate($white, 10%);
	border-top:1px solid darken($white, 5%);
	cite {
		font-style:normal;
	}
}