$white: #FCFCFC;
$black: #1A1A1A;
$primary: #388E3C;
$secondary: #727272;
$link: #388E3C;
$hover: #4caf50;
$highlight: #c8e6c9;
$bodybg: #F7F7F7;

$transition: 300ms ease-out;

$row-margin: rem-calc(120);